body {
  margin: 0 auto;
}

.main-container {
  display: flex;
  flex-direction: column;
  padding: 5vw;
}

.nav-header {
  display: flex;
  justify-content: flex-end;
  height: 15vh;
  align-items: center;
  background: #fff url("../res-icons/image_geometry_1.svg") 0 0 no-repeat;
}

.intro {
  height: 100vh;
  background: #fff url("../res-icons/image_geometry_2.svg") 0 70vh no-repeat;
  background-size: contain;
}

.section-header {
  font-family: 'Playfair Display', sans-serif;
  color: #1a2236;
  font-weight: 400;
  width: 100%;
  font-size: 2.4em;
  line-height: 100%;
}

.section-content> p {
  font-family: 'Poppins', sans-serif;
  font-size: 0.9em;
  font-weight: 400;
  width: 100%;
  color: #1a2236;
  line-height: 1.5em;
  letter-spacing: -0.01cm;
  margin-bottom: 5vh;
}

.button-generic {
  width: 100%;
  height: 10vh;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  text-align: center;
  font-size: 1.2em;
  font-weight: 400;
  margin-bottom: 5vh;
  background: #1a2236;
}

.button-generic:hover {
  background: #fff;
  color: #1a2236;
  cursor: pointer;
}

.button-generic:active {
border: 3px solid #1a2236;
}

.projects-container {
  display: grid;
}

.project-tile {
  display: flex;
  flex-direction: column;
}

.project-thumbnail {
  width: 90vw;
  object-fit: contain;
}
.project-details {
  background: #1a2236;
  padding: 5vw;
}

.project-title {
  font-family: 'Poppins', sans-serif;
  color: #fff;
  font-weight: 300;
  line-height: 1em;
  font-size: 1.3em;
}

.tech-list {
  display: flex;
  margin-bottom: 5vh;
}

.tech-item {
  font-family: 'Poppins', sans-serif;
  padding: 1vh 2vh;
  margin-right: 2vw;
  background: #98dede;
  color: #1a2236;
  font-size: 0.8em;
}

.button-project {
  width: 80%;
  border: 1px solid #fff;
  background: #1a2236 url('../res-icons/ic_arrow_right.svg') 90% 55% no-repeat;
  /* padding-left: 5vw; */
}
.button-project:hover {
  background: #fff url('../res-icons/ic_arrow_right-9.svg') 90% 55% no-repeat;
}

.about-me {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 5vh;
}

.skillset {
  padding: 10vh 20vw;
  color: #fff;
}
.button-aboutme {
  background: #1a2236 url('../res-icons/ic_download.svg') 85% 55% no-repeat ;
}

.skillset1 {
  background: #1c528a;
}
.skillset2 {
  background: #e2505c;
}
.skillset3 {
  background: #febf52;
}


